.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.answer-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;

  label {
    flex-grow: 1;
    cursor: pointer;
  }

  input {
    cursor: pointer;
    transform: scale(1.4);
  }

  cursor: pointer;


  &:hover {
    background-color: lightgray;
  }
}

.previous-points {
  font-size: 16px;
  color: #424242;
}

.correct {
  color: #5a9142
}

.show-correct {
  color: #5a9142;
  margin-left: 26px;
  font-size: 16px;
  opacity: 0
}

.wrong-show-correct .show-correct {
  opacity: 1;
}

.wrong-show-correct,
.wrong {
  color: red;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.option-wrapper {
  display: flex;
  flex-direction: column;
}

.prompt {
  border-radius: 12px;
  padding: 16px;
  background: #dedede;
}

.learned-amount {
  padding: 3px 5px;
  border-radius: 12px;
  &.red {
    background: #ffa1a1;
  }
  &.yellow {
    background: #ffed9f;
  }
  &.green {
    background: #c6ff9d;
  }
}

.streaks-info {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  padding: 16px;
  overflow: auto;

  h2 {
    margin-bottom: 8px;
  }

  .streak-prompt {
    display:inline-block;
  }

  .close {
    position: fixed;
    right: 24px;
    top: 12px;
    font-size: 40px;
    cursor: pointer;
  }

  .question {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 12px;
    max-width: calc(100% - 48px);
    background: #eee;
  }

  span {
    max-width: calc(100% - 48px);
    margin-bottom: 8px;
  }

  .streak-num {
    background: #ffbc75;
    padding: 2px 6px;
    border-radius: 12px;
  }

  .lightgreen {
    background: #c6ff9d;
  }

  .green {
    background: #c6ff9d;
  }
}

.category-tag {
  float: right;
  border-radius: 24px;
  padding: 4px 16px;
  font-size: 0.85rem;
  border: 1px solid #a7a7a7;
}

.streak-category-tag {
  float: right;
  margin-left: 12px;
  border-radius: 24px;
  padding: 3px 9px;
  font-size: 0.75rem;
  border: 1px solid #a7a7a7;
}

.streak-info {
  padding-bottom: 8px;
  &.red {
    color: #ab3333;
  }
  &.yellow {
    color: #a38e2d;
  }
  &.green {
    color: #5fb81d;
  }
}
